@import "./variables.scss";

.DesktopNavigation-container {
  display: flex;
  flex: 1;
  @media (max-width: 748px) {
    display: none;
  }
  nav {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $gray;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
    div {
      position: relative;
      div {
        position: absolute;
        top: 30px;
        background-color: white;
        padding: 10px;
        border-radius: 15px;
        min-width: 100px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        span {
          display: flex;
          align-items: center;
          margin: 10px 0;
        }
        img {
          margin: 0 5px 0 0;
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      width: fit-content;

      cursor: pointer;
      &:hover {
        color: black;
      }
      img {
        margin-left: 2px;
      }
    }
  }
  .registration {
    margin-left: auto;
    button {
      color: $gray;
      background: none;
      padding: 10px 15px;
      box-shadow: none;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
}
