@import "./variables.scss";

.MobileNavigation-container {
  display: flex;
  flex: 1;
  @media (min-width: 748px) {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: white;
    max-width: 300px;
    width: 60%;
    height: 100vh;
    top: 0;
    padding: 10px 20px;
  }
  nav {
    display: flex;
    flex-direction: column;
    color: $gray;
    max-width: 500px;
    div {
      position: relative;
      div {
        background-color: white;
        padding: 10px;
        border-radius: 15px;
        min-width: 100px;
        span {
          display: flex;
          margin: 10px 0 10px 20px;
        }
        img {
          margin: 0 5px 0 0;
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      width: fit-content;
      margin: 10px 0;
      cursor: pointer;
      &:hover {
        color: black;
      }
      img {
        margin-left: 10px;
      }
    }
  }
  .closeBtn {
    margin-left: auto !important;
    margin: 10px 0;
    cursor: pointer;
  }
  .navigation-blur {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
.menu {
  margin-left: auto;
  cursor: pointer;
}
